body {
    font-family: 'Arial', times, serif, sans-serif;
    background-color:white;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid ;
    border-radius: 3px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}
table {
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(243, 240, 236);
}
